#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DH_VERBOSE = 1
export PYBUILD_NAME=servicechecker

# Temporarily disable tests given dh_python in stretch
# doesn't seem to support using pybuild.testfiles
export PYBUILD_DISABLE=test

%:
	dh $@  --with python3 --buildsystem=pybuild
